<button type = "button" id = "menu">Menu</button>
<button type = "button" id = "explore">Explore</button>

<h1><%= topic.get("title") %></h1>

<div><%= topic.get("description") %></div>

<button type = "button" id = "continue">Continue</button>
