<div class = "row header">
	<div class = "two columns mobile-one"></div>
	<div class = "eight columns mobile-two" style =  "margin-top: -0.5em">
		<h4 style = "text-align: center">fuseGap</h4>
	</div>
	<div class = "two columns mobile-one"></div>
</div>
<div class = "below-header"></div>
<h3 style = "text-align: center">Welcome to fuseGap!</h3>

</br>
</br>
<div class = "row">
	<div class = "mobile-one columns"></div>
	<div class = "four columns centered mobile-two">
			<%= link_to("Sign In With Facebook", "/auth/facebook", "type" => "button", "class" => "primary button radius large", "style" => "width: 100%") %>
	</div>
	<div class = "mobile-one columns"></div>
</div>



