<button type = "button" id = "menu">Menu</button>
<button type = "button" id = "explore">Explore</button>

<h1>Wrong!</h1>

<div>The correct answer was: <%= quiz_q.get("correct") %></div></br>

<button type = "button" id = "next">Next</button>