<div class = "row header">
	<div class = "two columns mobile-one">
		<button type = "button" id = "menu" class = "primary round button small" style = "width: 100%; margin-top: 0.5em">Menu</button>
	</div>
	<div class = "eight columns mobile-two" style =  "margin-top: -0.5em">
		<h4 style = "text-align: center">fuseGap</h4>
	</div>
	<div class = "two columns mobile-one">
		<button type = "button" id = "explore" class = "primary round button small" style = "width: 100%; float: right; margin-top: 0.5em">Explore</button>
	</div>
</div>
<div class = "below-header"></div>

<h1>Wrong!</h1>

<div>The correct answer was: <%= quiz_q.get("correct") %></div></br>

<button type = "button" id = "next">Next</button>