<form id = "reason">
	<label>Title:</label></br>
	<input type = "text" id = "title" value = "<%= reason.get("title") %>"></br>
	<label>Description:</label></br>
	<input type = "text" id = "description" value = "<%= reason.get("description") %>"></br>
	<input type = "submit" value = "Update" id = "submit"></br>
</form>