<form id = "topic">
	<label>Title:</label></br>
	<input type = "text" id = "title" value = "<%= topic.get("title") %>"></br>
	<label>Description:</label></br>
	<input type = "text" id = "description" value = "<%= topic.get("description") %>"></br>
	<input type = "submit" value = "Update" id = "submit"></br>
</form>
</br>

