<form id = "source">
	<label>Description:</label></br>
	<input type = "text" id = "description" value = "<%= source.get("description") %>"></br>
	<label>Url:</label></br>
	<input type = "text" id = "url" value = "<%= source.get("url") %>"></br>
	<input type = "submit" value = "Update" id = "submit"></br>
</form>