<div>Sign me in Scotty</div>
<form id = 'admin_sign_in'>
	<label>Email:</label>
	<input type = 'text' id = 'admin_email'></br>
	<label>Password:</label>
	<input type = 'password' id = 'admin_password'></br>
	<input type = 'submit' value = 'Sign In' id = 'admin_submit'></br>
</form>