<div class = "row header">
	<div class = "two columns mobile-one"></div>
	<div class = "eight columns mobile-two" style =  "margin-top: -0.5em">
		<h4 style = "text-align: center">fuseGap</h4>
	</div>
	<div class = "two columns mobile-one"></div>
</div>
<div class = "below-header"></div>
<h3 style = "text-align: center">Play A Video!</h3>
</br>
</br>
<div class = "row">
	<div class = "mobile-one columns"></div>
	<div class = "four columns centered mobile-two">
		<button type = "button" class = "primary button radius large" id = "next" style = "width: 100%">Next</button>
	</div>
	<div class = "mobile-one columns"></div>
</div>