<div class = "row header">
	<div class = "two columns mobile-one">
		<button type = "button" id = "menu" class = "primary round button small" style = "width: 100%; margin-top: 0.5em">Menu</button>
	</div>
	<div class = "eight columns mobile-two" style =  "margin-top: -0.5em">
		<h4 style = "text-align: center">fuseGap</h4>
	</div>
	<div class = "two columns mobile-one">
		<button type = "button" id = "explore" class = "primary round button small" style = "width: 100%; float: right; margin-top: 0.5em">Explore</button>
	</div>
</div>
<div class = "below-header"></div>
<h3 style = "text-align: center">Try some buttons out!</h3>
</br></br></br>
<% var points = 1000; %>
<div class = "row">
	<div class = "one columns centered">
		<div class = "meter-container"></div>
		<div id = "meter" class = "meter-bar" style = "width: 100%"></div>
		<div id = "timer" class = "meter-text"><%= points %></div>
	</div>
</div>
<button type = "button" id = "correct">Right</button>
</br>
<button type = "button" id = "wrong">Fail</button>
